html {
  box-sizing: content-box;
}

html * {
  box-sizing: inherit;
}

header {
  display: flex;
  justify-content: center;
  background-color: #fff;
  padding: 22px;
  box-shadow: 1px 2px 5px rgb(0, 0, 0, 0.3);
  z-index: 2;
  position: relative;
}

header input {
  outline: none;
  border: solid 1px #eee;
  padding: 8px 5px;
  border-radius: 4px;
  width: 30vw;
  font-size: 18px;
  font-weight: 400;
  background-color: #eee;
  transition: background-color 0.1s ease;
}

header input:focus {
  background-color: #fff;
}