:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 1.5;

  background-color: #21272a;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

.container {
  flex-direction: column;
  margin: 0 auto;
  width: 515px;
}

.container,
.btns-container {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

form {
  width: 515px;
}

input,
.task-bar {
  font-size: 1rem;
}

.task-bar {
  background-color: #0d0f14;
  border-radius: 10px;
  border: none;
  padding: 0.6em 1.2em;
  width: -webkit-fill-available;
}

.task-bar:hover {
  box-shadow: 1px 1px 3px rgb(0, 0, 0, 0.3);
}

button {
  background-color: #181d1f;
  border-radius: 25px;
  border: none;
  cursor: pointer;
  font-family: inherit;
  font-size: 1rem;
  padding: 0.6em 1.2em;
  transition: border-color 0.25s;
}

button:hover {
  opacity: 0.7;
}

.task-bar:focus,
.task-bar:focus-visible,
button:focus-visible {
  outline: 2px solid #e4085f;
}

ul {
  padding: 0;
  width: -webkit-fill-available;
}

li {
  border-bottom: 1px solid #1c2022;
  font-size: 1.05rem;
  font-weight: 500;
  list-style: none;
  padding: 0.4rem;
  text-align: start;
  text-transform: capitalize;
  word-break: break-all;
}

li:first-child {
  border-top: 1px solid #1c2022;
}

input[type="checkbox"] {
  height: 1.15rem;
  margin: 0 10px 0 0;
  transform: translateY(15%);
  width: 1.15rem;
}

input[type="checkbox"]:checked {
  accent-color: #e4085f;
}

@media (prefers-color-scheme: light) {
  :root {
    background-color: #ffffff;
    color: rgb(0, 0, 0, 0.87);
  }

  .task-bar {
    background-color: #efeff0;
  }

  button {
    background-color: #f9f9f9;
  }

  li {
    border-bottom: 1px solid #f1f1f1;
  }

  li:first-child {
    border-top: 1px solid #f1f1f1;
  }
}

@media screen and (max-width: 600px) {
  .container {
    width: auto;
  }

  form {
    width: 80vw;
  }
}